.ithank
	position relative
	width 600px
	margin 20px auto

.ithank__fillet
	width 600px
	height 400px
	margin 0 auto
	border 1px solid red

.ithank__show
	position absolute
	top 50%
	cursor pointer

	&_later
		right -100px

	&_earlier
		left -100px