.thank
	display table-cell
	width 600px
	height 400px

	padding 40px
	margin 0 auto

	border 1px solid red
	vertical-align middle
	text-align center

	font normal 18px 'PT Sans', sans-serif

	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box