html,
body {
	margin: 0;
	padding: 0;
}

.thank {
	position: relative;
	width: 600px;
	height: 400px;
	padding: 20px 20px 60px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	border: 40px solid brown;
	text-align: center;
	font: normal 36px "PT Sans", sans-serif;
}

.from {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 18px;
}

.wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	max-width: 480px;
	max-height: 240px;
}


.input {
	display: inline;
	color: #08a;
	border-bottom: 1px dashed rgba(0,127,192,.5);
	cursor: pointer;
}
	
	.input:focus {
		outline: none;
		color: red;
		border-bottom-color: transparent;
	}

	.input_full {
		color: black;
		border-bottom-color: rgba(0,0,0,.5);
	}