html,
body {
	margin: 0;
	padding: 0;
	font: normal 18px "PT Sans", sans-serif;
}

.thank {
	position: relative;
	width: 600px;
	height: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 40px solid brown;
	margin: 0 auto;
	text-align: center;
}

.from {
	position: absolute;
	right: 10px;
	bottom: 10px;
}


.wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
	font-size: 24px;
}


.input {
	position: relative;
	text-decoration: underline;
}

	.input_full {
		text-decoration: none;
		color: blue;
	}

	.input_edit {
		text-decoration: none;
		color: red;
	}

	.input_edit:after {
		position: absolute;
		height: 1.25em;
		border-left: 1px solid black;
		content: '';
		-webkit-animation: blink .75s infinite steps(2);
	}

@-webkit-keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
}