extends layout/layout

block app
	.ithank
		h1.ithank__title
			a.ithank__title-link(href='/')= title
		a.ithank__say(href='/write') Скажите спасибо и вы!

		.ithank__fillet
			include thank/thank

		a.ithank__show.ithank__show_earlier(href=prevUrl) Предыдущие
		a.ithank__show.ithank__show_later(href=nextUrl) Следующие