doctype html
html
	head
		link(rel="stylesheet", href="/ithank.css")
	body
		.layout
			block app

			footer.layout__footer
				.layout__footer-names	Сайт сделали Виктор Карпов и Олег Громов в 2014 году


		script(src="//yandex.st/jquery/2.1.0/jquery.min.js")
		script(src="//yandex.st/underscore/1.6.0/underscore-min.js")
		script(src="//yandex.st/backbone/1.1.2/backbone-min.js")
			
		script(src="/ithank.js")